@font-face {
  font-family: "Archivo_SemiExpanded-Bold";
  src: url("../../fonts/Archivo/Archivo_SemiExpanded-Bold.ttf");
}

@font-face {
  font-family: "Archivo_Condensed-Light";
  src: url("../../fonts/Archivo/Archivo_SemiExpanded-Light.ttf");
}
