@font-face {
  font-family: "Poppins-Medium";
  src: url("/Fonts/Poppins-Medium.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/Fonts/Poppins-Bold.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/Fonts/Poppins-SemiBold.ttf") format("woff2");
  font-display: swap;
}
