@font-face {
  font-family: "Poppins-Black";
  src: url("/Fonts/Poppins/Poppins-Black.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/Fonts/Poppins/Poppins-Bold.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("/Fonts/Poppins/Poppins-ExtraLight.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/Fonts/Poppins/Poppins-Light.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/Fonts/Poppins/Poppins-Medium.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/Fonts/Poppins/Poppins-Regular.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/Fonts/Poppins/Poppins-SemiBold.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Thin";
  src: url("/Fonts/Poppins/Poppins-Thin.ttf") format("woff2");
  font-display: swap;
}
