* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: auto;
  /*  */
  width: 100vw;
  max-width: 430px;
  /*  */
  min-height: 100vh;
  height: 100vh;
  background: none;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}
